* {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

#main {
    display: flex;
    min-height: calc(100vh - 40vh);
    text-align: right;
}

header {
    display: flex;
    background: rgb(44, 47, 51);
    justify-content: space-around;
    padding: 10px;
}

article p {
    font-size: 15px;
    background-color: white;
}

.help p {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: left;
}

.help h3,
.textStartseite p,
.impressum p {
    padding-top: 5px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 5px;
    font-size: 20px;
}

.textStartseite,
.geschichte p {
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}

.start p {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}

.center {
    flex-grow: 2;
}

.topnav input[type=text] {
    border: none;
}

.login {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

a,
footer,
.login,
.dropbtn {
    color: rgb(255, 255, 255);
}

.darklink {
    color: black;
}

.space {
    margin-left: 5px;
    margin-right: 5px;
}

article a {
    color: black;
}


/*
IMG Size entfernt und die des Logos direkt angepasst, damit andere Bilder in echter Größe dargestellt werden können.

img {
    height: 200px;
    width: 200px;
}
*/

.symbol {
    align-items: flex-end;
    flex-direction: column;
    padding-right: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.symbol,
.logo {
    align-self: flex-end;
    font-size: 40px;
}

article {
    flex: 1;
    justify-content: space-around;
}

nav {
    display: flex;
    width: 100%;
    background-color: rgb(36, 130, 50);
    justify-content: space-around;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(103, 117, 105);
}

.dropbtn,
.buttonInformation,
.buttonUeberUns {
    padding: 20px;
    font-size: 30px;
    background-color: rgb(36, 130, 50);
    border: none;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dropbtn:hover,
.buttonInformation:hover,
.buttonUeberUns:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: rgb(44, 47, 51);
}

aside {
    background: rgb(4, 15, 15);
    padding: 1em;
    flex: 0 0 20vw;
    color: rgb(224, 224, 224);
}

br {
    font-size: 30px;
}

.shop {
    overflow: hidden;
}

.shop .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
}

.dropdown-content a {
    display: block;
    text-align: left;
    padding: 12px 16px;
    background: rgb(44, 47, 51);
}

.dropdown-content a:hover {
    background-color: rgb(36, 130, 50);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(36, 130, 50);
}

.active {
    background-color: darkgray;
}

input[type=text] {
    width: 60%;
    border: none;
    padding: 5px;
}

.search {
    padding: 30px;
    font-size: 20px;
}

button[type=submit] {
    font-size: 18px;
}

.form-wrapper input[type=text],
.form-wrapper input[type=password],
input[name=validationEmail],
input[name=validationPassword] {
    width: 40%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form-wrapper input[type=text]:focus,
.form-wrapper input[type=password]:focus,
input[name=validationEmail]:focus,
input[name=validationPassword]:focus {
    box-shadow: 0px 0px 4px 4px rgb(36, 130, 50);
    transition: 0.1s;
}

input[type=submit] {
    display: inline-block;
    border: none;
    margin: 5px 0 22px 0;
    padding: 20px;
    background: rgb(44, 47, 51);
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(36, 130, 50);
}

.sidebar {
    float: left;
    box-shadow: 2px 2px 5px rgb(103, 117, 105);
    background: rgb(4, 15, 15);
    padding: 30px;
    color: rgb(224, 224, 224);
    width: 200px;
    min-height: calc(60vh);
}

sidebar p {
    padding: 5px;
}

.column {
    float: left;
    width: 22%;
    padding: 10px;
}

.product-card {
    height: 400px;
    padding: 16px;
    text-align: center;
    background-color: #dbdbdb;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background: rgb(44, 47, 51);
    height: 9vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:1100px) {
    h1 {
        font-size: 40px;
    }
    img {
        height: 120px;
        width: 120px;
    }
    .topbar,
    footer,
    .login {
        font-size: 15px;
    }
    .symbol {
        font-size: 25px;
    }
    nav {
        font-size: 25px;
    }
    p,
    br,
    button,
    .dropbtn,
    .buttonInformation,
    .buttonUeberUns {
        font-size: 20px;
    }
}

@media only screen and (max-width:700px) {
    h1 {
        font-size: 25px;
    }
    img {
        height: 75px;
        width: 75px;
    }
    .topbar,
    footer,
    .login {
        font-size: 10px;
    }
    .symbol {
        font-size: 15px;
    }
    nav {
        font-size: 15px;
    }
    p,
    br,
    button,
    .search,
    .dropbtn,
    .buttonInformation,
    .buttonUeberUns {
        font-size: 13px;
    }
}

@media only screen and (max-width:420px) {
    h1 {
        font-size: 13px;
    }
    .topbar,
    footer,
    .login {
        font-size: 7.5px;
    }
    .symbol {
        font-size: 10px;
    }
    nav {
        font-size: 10px;
    }
    p,
    br,
    button,
    .dropbtn,
    .buttonInformation,
    .buttonUeberUns {
        font-size: 10px;
    }
    img {
        height: 0px;
        width: 0px;
    }
}