* {
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(22, 22, 22);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#main {
    display: flex;
    min-height: calc(100vh - 40vh);
}

header {
    display: flex;
    width: 100%;
    background-color: rgb(177, 177, 177);
    padding: 25px;
    font-size: 20px;
    justify-content: space-around;
}

.topbar {
    height: 20px;
    max-width: 20px;
}

h1 {
    font-size: 50px;
}

img {
    height: 200px;
    width: 200px;
}

.symbol,
.logo {
    align-self: flex-end;
    font-size: 40px;
}

article {
    flex: 1;
}

nav {
    display: flex;
    width: 100%;
    background: rgb(131, 131, 131);
    font-size: 30px;
    padding: 20px;
    justify-content: space-around;
    overflow: hidden;
}

aside {
    background: rgb(19, 126, 83);
    padding: 1em;
    flex: 0 0 20vw;
}

footer {
    display: flex;
    background: darkgray;
    height: 15vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

content {
    background-color: red;
}

p,
br {
    font-size: 30px;
}

.shop {
    overflow: hidden;
    color: rgb(122, 64, 64);
}

.shop .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
}

.dropdown-content a {
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: darkgray;
}

.dropbtn {
    background-color: rgb(131, 131, 131);
    border: none;
    outline: none;
    font-size: 30px;
}

@media only screen and (max-width:1100px) {
    h1 {
        font-size: 40px;
    }
    img {
        height: 120px;
        width: 120px;
    }
    .topbar,
    footer {
        font-size: 15px;
    }
    .symbol {
        font-size: 25px;
    }
    nav {
        font-size: 25px;
    }
    p,
    br,
    .dropbtn {
        font-size: 20px;
    }
}

@media only screen and (max-width:700px) {
    h1 {
        font-size: 25px;
    }
    img {
        height: 75px;
        width: 75px;
    }
    .topbar,
    footer {
        font-size: 10px;
    }
    .symbol {
        font-size: 15px;
    }
    nav {
        font-size: 15px;
    }
    p,
    br,
    .dropbtn {
        font-size: 13px;
    }
}

@media only screen and (max-width:420px) {
    h1 {
        font-size: 13px;
    }
    img {
        height: 40px;
        width: 40px;
    }
    .topbar,
    footer {
        font-size: 7.5px;
    }
    .symbol {
        font-size: 10px;
    }
    nav {
        font-size: 10px;
    }
    p,
    br,
    .dropbtn {
        font-size: 10px;
    }
}