* {
    /*box-sizing: border-box;*/
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding-bottom: 10vh;
}

#main {
    display: flex;
    min-height: calc(100vh - 28vh);
}

header {
    display: flex;
    background: rgb(44, 47, 51);
    padding: 5px;
}

h1 {
    font-size: 35px;
}

a {
    color: white;
}


/*about.php*/

.history p {
    text-align: left;
    font-size: 20px;
}

.rowHistory {
    float: left;
}

.rowHistory p {
    float: right;
    padding-left: 2%;
    margin-top: 5%;
    width: 50%;
}

.rowHistory img {
    height: 400px;
    width: 500px;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    padding-left: 1%;
}

.history h2,
.information h2 {
    font-size: 25px;
}


/*impressum.php, help.php,information.php*/

.impressum p,
.help p,
.information p {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: black;
}

.impressum a {
    color: black;
}

.information a {
    color: green;
}


/*start.php*/

.start p {
    padding: 20px;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 20px;
    text-align: left;
}

.aside p {
    font-size: 25;
}

.aside {
    background: rgb(4, 15, 15);
    padding: 1em;
    color: rgb(224, 224, 224);
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    margin-top: 0.75%;
}

.start img {
    width: 70%;
}


/*layout.php*/

.center {
    flex-grow: 2;
}

.logo {
    flex-grow: 0.5;
}

.login {
    flex-grow: 0.125;
}

.symbol {
    flex-grow: 0.25;
}

.login p,
.login a {
    font-size: 20px;
}

.symbol a {
    font-size: 30px;
}

footer p,
.login,
.dropbtn {
    color: rgb(255, 255, 255);
}

.space {
    margin-left: 5px;
    margin-right: 5px;
}

.logo img {
    height: 175px;
    width: 175px;
}

.symbol {
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    font-size: 35px;
    padding-right: 2%;
    padding-bottom: 0.5%;
}

nav {
    display: flex;
    background-color: rgb(36, 130, 50);
    justify-content: space-around;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(103, 117, 105);
    width: 100%;
}

.dropbtn,
.buttonInformation,
.buttonUeberUns {
    padding: 10px;
    font-size: 25px;
    background-color: rgb(36, 130, 50);
    border: none;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dropbtn:hover,
.buttonInformation:hover,
.buttonUeberUns:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: rgb(44, 47, 51);
}

.dropdown {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    display: block;
    text-align: left;
    padding: 12px 16px;
    background: rgb(44, 47, 51);
}

.dropdown-content a:hover {
    background-color: rgb(36, 130, 50);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(36, 130, 50);
}

.search input[type=text] {
    width: 50%;
    border: none;
    padding: 5px;
}

.search {
    padding: 4%;
}

.search button[type=submit] {
    font-size: 17px;
}

footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    background: rgb(44, 47, 51);
    height: 9vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}


/*shop.php*/

.sidebar {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 1em;
    box-shadow: 2px 2px 5px rgb(103, 117, 105);
    background: rgb(4, 15, 15);
    color: rgb(224, 224, 224);
    width: 10%;
    height: 500px;
}

.sidebar p {
    padding: 0.6%;
    font-size: 20px;
}

.columnShop {
    display: inline;
    float: left;
    width: 20%;
    padding: 1.5%;
}

.products {
    padding-left: 15%;
    padding-top: 0.5%;
}

.productCard {
    padding: 3%;
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCard img {
    width: 200px;
    height: 200px;
}

.productCard p {
    color: black;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.productCard button,
.sidebar input[type=submit] {
    border: none;
    outline: 0;
    padding: 3.5%;
    color: white;
    background-color: rgb(36, 130, 50);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition-duration: 0.3s;
}

.sidebar input[type=submit] {
    padding: 5%;
}

.productCard button:hover,
.sidebar input[type=submit]:hover {
    background: rgb(44, 47, 51);
}

.form-container form,
.form-container form div {
    display: inline;
}

.form-container button {
    display: inline;
    vertical-align: middle;
}


/*product.php*/

.product {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.product p {
    font-size: 20px;
}

.product-right {
    margin-top: 7.5%;
    padding-left: 10%;
    margin-right: 6%;
    flex: 60%;
}

.product-right p {
    text-align: left;
}

.product-right h3 {
    text-align: left;
    padding-bottom: 20px;
}

.product-left {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    flex: 40%;
}

.product img {
    width: 400px;
    height: 400px;
}

.product button {
    margin-top: 10%;
    width: 40%;
    padding: 1.5%;
    border: none;
    background-color: rgb(36, 130, 50);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.3s;
    color: white;
}

.product button:hover {
    background: rgb(44, 47, 51)
}


/*register.php, login.php*/

.error,
.error-message {
    margin: 15px;
    color: rgb(189, 0, 0);
    font-size: 17px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 1%;
}

.adressdata {
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.profiledata {
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.data input[type=password],
.data input[type=text] {
    padding: 20px;
    margin: 5px 0 22px 0;
    width: 100%;
    border: none;
    background: #f1f1f1;
}

.loginForm {
    margin-top: 6%;
}

.loginForm input[type=text],
.loginForm input[type=password] {
    padding: 20px;
    margin: 5px 0 22px 0;
    width: 30%;
    border: none;
    background: #f1f1f1;
    color: black;
}

.data input[type=password]:focus,
.data input[type=text]:focus,
.loginForm input[type=text]:focus,
.loginForm input[type=password]:focus {
    box-shadow: 0px 0px 4px 4px rgb(36, 130, 50);
    transition: 0.15s;
}

.darklink,
.loginForm p,
.loginForm h1 {
    color: black;
}

input[type=submit] {
    display: inline-block;
    border: none;
    margin: 5px 0 22px 0;
    padding: 20px;
    background: rgb(44, 47, 51);
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(36, 130, 50);
}

input[type=submit]:disabled {
    background-color: rgb(187, 187, 187);
}


/*shoppingcart.php*/

.shoppingcart p {
    font-size: 20px;
}

.shoppingcart h3 {
    font-size: 25px;
}

.gridcontainer {
    display: grid;
}

.itemList {
    border: 1px solid rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.itemList p {
    font-size: 15px;
}

.itemList .img {
    height: 200px;
    width: 200px;
}

.shoppingcart .submitButton {
    width: 15%;
    padding: 1%;
    border: none;
    background-color: rgb(36, 130, 50);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.3s;
}

.shoppingcart .submitButton:hover {
    background: rgb(44, 47, 51);
}

.cancle {
    background-color: white;
    border: none;
    cursor: pointer;
}

.cancle i {
    font-size: 25px;
    color: rgb(36, 130, 50);
}


/*addProduct.php*/

.addProduct p {
    font-size: 20px;
}

.addProduct button {
    width: 15%;
    padding: 1%;
    border: none;
    background-color: rgb(36, 130, 50);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.3s;
}

.addProductButton {
    padding-bottom: 1%;
}

.addProduct button:hover {
    background: rgb(44, 47, 51);
}

@media only screen and (max-width:1100px) {
    h1 {
        font-size: 30px;
    }
    /*layout.php*/
    .login p,
    .login a {
        font-size: 18px;
    }
    .symbol a {
        font-size: 25px;
    }
    .dropbtn,
    .dropdown-content a,
    .buttonInformation,
    .buttonUeberUns {
        font-size: 20px;
    }
    .logo img {
        height: 100px;
        width: 100px;
    }
    footer p {
        font-size: 17px;
    }
    /*start.php*/
    .aside h4,
    .aside p {
        font-size: 15px;
    }
    .aside {
        width: 125%;
    }
    .start p,
    .information p {
        font-size: 17px;
    }
    /*shop.php*/
    .product_card p,
    .product_card button {
        font-size: 10px;
    }
    /*about.php*/
    .rowHistory p {
        margin-right: 12.5%;
        width: 75%;
        padding-left: 1%;
    }
    .rowHistory img {
        margin-right: 10%;
        height: 320px;
        width: 400px;
    }
    /*product.php*/
    .product img {
        width: 275px;
        height: 275px;
    }
    .product button {
        width: 60%;
    }
}

@media only screen and (max-width:700px) {
    h1 {
        font-size: 16px;
    }
    /*layout.php*/
    .login p,
    .login a {
        font-size: 12.5px;
    }
    .symbol a {
        font-size: 17px;
    }
    .search input[type=text] {
        font-size: 10px;
    }
    .search button[type=submit] {
        font-size: 13px;
    }
    .dropbtn,
    .dropdown-content a,
    .buttonInformation,
    .buttonUeberUns {
        font-size: 17.5px;
    }
    .logo img {
        height: 50px;
        width: 50px;
    }
    footer p {
        font-size: 15px;
    }
    /*start.php*/
    .aside h4,
    .aside p {
        font-size: 12.5px;
    }
    .aside {
        width: 160%;
    }
    .start p,
    .information p {
        font-size: 15px;
    }
    /*shop.php*/
    .product_card p,
    .product_card button {
        font-size: 10px;
    }
    /*about.php*/
    .rowHistory p {
        margin-right: 15%;
        width: 75%;
        font-size: 17.5px;
    }
    .rowHistory img {
        margin-right: 10%;
        height: 240px;
        width: 300px;
    }
    /*product.php*/
    .product img {
        width: 200px;
        height: 200px;
    }
    .product {
        flex-direction: column;
    }
}

@media only screen and (max-width:420px) {
    h1 {
        font-size: 0px;
    }
    /*layout.php*/
    .login p,
    .login a {
        font-size: 10px;
    }
    .symbol a {
        font-size: 13px;
    }
    .search input[type=text] {
        font-size: 10px;
    }
    .search button[type=submit] {
        font-size: 13px;
    }
    .dropbtn,
    .dropdown-content a,
    .buttonInformation,
    .buttonUeberUns {
        font-size: 15px;
    }
    .logo img {
        height: 0px;
        width: 0px;
    }
    footer p {
        font-size: 12px;
    }
    /*start.php*/
    .aside {
        width: 400%;
    }
    /*shop.php*/
    .product_card p,
    .product_card button {
        font-size: 7.5px;
    }
    /*about.php*/
    .rowHistory p {
        margin: 3% 8% 3% 5%;
        width: 80%;
        font-size: 15px;
    }
    .rowHistory img {
        margin: 0 5% 0 5%;
        height: 160px;
        width: 200px;
    }
    .history h2 {
        font-size: 17.5px;
    }
    /*product.php*/
    .product p,
    .product button {
        font-size: 15px;
    }
}